    <div id="wrapper">
      <div class="banner">
        <p class="title">The Dodo Scraper</p>
        <p class="tagline">Compiling articles for animal lovers</p>
      </div>
      <div class="logo">
        <img src="/images/dodo.png">
      </div>

      <div class="photos">
      	<img src="https://media.giphy.com/media/etn52ENYVnpxqMaXiT/giphy.gif">
	      <img src="https://media.giphy.com/media/uVPC0fU3jv7gA8axIl/giphy.gif">
	      <img src="https://media.giphy.com/media/NmgjqmjAjB5Xr0vC0O/giphy.gif">
	      <img src="https://media.giphy.com/media/xULg5aw4lEK0fPBeCu/giphy.gif">
      </div>
      
      <div>
        <p class="directions">Click on the Scrape button for the latest animal stories!</p>
        <button id="new-scrape"><span class="button-text">Scrape</span></button>
        <p class="directions">Click on the story boxes to make a comment.</p>
      </div>

      <div id="articles"></div>
      
      <div id="notes"></div>
    </div>
