
      <h1>Dodo Scraper</h1>
      <h2>Tagline</h2>
      <div>
        <button id="new-scrape">Scrape Latest Articles</button>
      </div>

      <div id="articles"></div>
      <div id="notes"></div>

    {{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/js/app.js"></script> --}}